<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFood</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/alertifyjs/css/alertify.min.css}">
</head>
<body class="bg-light">
<div class="container my-5 vstack gap-3">
    <div class="text-center" style="font-size: 10em">😵</div>
    <h1 class="m-0 text-center">Error 500</h1>
    <h3 class="m-0 text-center">Ocurrió un error inesperado</h3>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/alertifyjs/alertify.min.js}"></script>
</body>
</html>